package {{modelPackage}}

import kotlinx.serialization.modules.SerializersModule
import kotlinx.serialization.modules.polymorphic

fun getOneOfSerializer() = SerializersModule {
{{#models}}
{{#model}}
{{#oneOf.size}}
    polymorphic({{classname}}::class) {
{{#oneOf}}
        subclass({{.}}::class, {{.}}.serializer())
{{/oneOf}}
    }
{{/oneOf.size}}
{{/model}}
{{/models}}
}

